*/3rdparty/*/
build-*
*.pro.user*
*/Viewer/Shared/UICEmbeddedWatermark.cpp
.qmake.stash
fontcache
mocinclude.opt
internal/licensehandler/Makefile*
internal/licensehandler/debug
internal/licensehandler/release
installerextras/*/
src/3rdparty
*.o
Makefile
Makefile.*
.moc
.uic
.rcc
moc_*.cpp
.DS_Store
*.qmlc
